@model Branches
@{
    ViewData["Title"] = "MaxDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whiteBackround border">

    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-info">التعميم</h2>
        </div>

        <div class="col-6 text-left mb-1">

        </div>
    </div>

    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>رسالة تأكيد ! &nbsp; </strong> تمت عملية التعديل بنجاح ...
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div>
        @if (Model == null)
        {
            <p class="text-danger">لم يتم العثور على بيانات الفرع ...</p>
        }
        else
        {

            <form method="post" asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="PhoneNumber" />
                <input type="hidden" asp-for="Message" />

                <div class="mb-3">
                    <label asp-for="MaxDate" class="form-label"></label>
                    <input asp-for="MaxDate" class="form-control">
                    <span asp-validation-for="MaxDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" class="btn btn-primary form-control" value="حفظ" />
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" asp-controller="Home" asp-area="Emplooye" class="btn btn-success form-control">اغلاق</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        }
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

