@page
@model Appointment.Areas.Identity.Pages.Account.Manage._MessageSendEmailModel
@{
    ViewData["Title"] = "تم الاشتراك بنجاح";
}



<div class="webBackground">
    <div class="whiteBackround">
        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-success" role="alert">
            يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك
        </div>
    </div>
</div>



