
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SendEmailAsync</h1>

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="email" value="hmod202096@gmail.com" />
        <input type="text" class="form-control" name="subject" value="test email" />
        <input type="text" class="form-control" name="htmlMessage" value="html message" />
        <input type="submit" value="SendEmailAsync" class="btn btn-secondary" />
    </div>
</form>
